# App environment, support dev or prod, default is dev (required)
APP_ENV=dev

# App name and version (optional)
APP_NAME=goe
APP_VERSION=v1.0.0

# MongoDB configuration (required)
MONGODB_URI=
MONGODB_DB=

# Redis configuration (required)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

# Meilisearch configuration
MEILISEARCH_ENABLED=false
MEILISEARCH_DB_SYNC=false
MEILISEARCH_ENDPOINT=
MEILISEARCH_API_KEY=

# Queue configuration (optional)
# QUEUE_CONCURRENCY: Number of concurrent workers in one queue
# QUEUE_FETCH_INTERVAL: Interval in seconds to fetch new jobs
# QUEUE_MAX_CONSUME_DURATION: Maximum time in seconds to consume a job, if exceeded, the job will be retried
# QUEUE_FETCH_LIMIT: Maximum number of jobs to fetch in one fetch, 0 means no limit
# QUEUE_DEFAULT_RETRIES: Default number of retries for a job, can be overridden when creating a message
QUEUE_CONCURRENCY=1
QUEUE_FETCH_INTERVAL=1
QUEUE_MAX_CONSUME_DURATION=5
QUEUE_FETCH_LIMIT=0
QUEUE_DEFAULT_RETRIES=3

# SMTP Mailer configuration
# SMTP_MAILER_ENABLED: Enable SMTP mailer, default is false
# SMTP_HOST: SMTP server host
# SMTP_PORT: SMTP server port
# SMTP_USERNAME: SMTP server username
# SMTP_PASSWORD: SMTP server password
# SMTP_TLS: SMTP server TLS, default is false
# SMTP_LOCAL_NAME: SMTP local name, could be hostname
# SMTP_FROM_EMAIL: SMTP from email
# SMTP_FROM_NAME: SMTP from name
SMTP_MAILER_ENABLED=false
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_TLS=
SMTP_LOCAL_NAME=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

# S3 Storage configuration
S3_ENDPOINT=xxxxx
S3_BUCKET_LOOKUP=dns/path
S3_ACCESS_KEY=xxxxx
S3_SECRET_KEY=xxxxx
S3_USE_SSL=true
S3_REGION=us-west-1
S3_BUCKET_NAME=xxxxx

# HTTP server configuration (Fiber)
HTTP_PORT=3000
HTTP_SERVER_HEADER=GoeAppServer/v1
HTTP_BODY_LIMIT=4194304
HTTP_CONCURRENCY=262144
HTTP_PROXY_HEADER=X-Forwarded-For
HTTP_TRUSTED_PROXY_CHECK=true
HTTP_TRUSTED_PROXIES=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.1
HTTP_REDUCE_MEMORY=false
HTTP_IP_VALIDATION=false